In [1]:
#Machine Learning 
#Day 1
#Read/Load the data
#Split the data{x_train,y_train,x_test,y_test}
#Data Preparation-train,test,normalisation,resealing
#Training the Model
#Prediction
#Evaluation

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('data/student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [5]:
target=df['Scores']
data=df['Hours']

In [6]:
#library used for machine learning
#train_test_split is a function
#train_size=0.7 means 70% of the data is used for training
#random_state=0 means shuffling outcome is same
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target,train_size=0.7,random_state=0)

print(x_train.shape, y_train.shape)
print(x_test.shape,y_test.shape)

(17,) (17,)
(8,) (8,)