In [13]:
import pandas as pd
print("Pandas Imported")
x=pd.Series([1,2,3,4])
print(x)

Pandas Imported
0    1
1    2
2    3
3    4
dtype: int64

In [15]:
print(x[2])

3

In [16]:
print(x[1:3])

1    2
2    3
dtype: int64

In [17]:
x=pd.Series(['ananya','ark','manjula','tarun'])
print(x)

0     ananya
1        ark
2    manjula
3      tarun
dtype: object

In [20]:
#series using numpy ndarray
import numpy as np
print('Numpy imported')

data=np.array([10,20,30,40,50])
print(type(data))
x=pd.Series(data)
print(x)

Numpy imported
<class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [22]:
x=pd.Series(['ananya','ark','manjula','tarun'],index=['a','b','c','d'])
print(x)

a     ananya
b        ark
c    manjula
d      tarun
dtype: object

In [24]:
print(x[['b','c']])

b        ark
c    manjula
dtype: object

In [28]:
print(x['a'])

ananya

In [29]:
print(x[1:3])

b        ark
c    manjula
dtype: object

In [30]:
# print(x['f'])